<div class="top-actions">
  <button mat-stroked-button color="accent" (click)="goBack()">
    ← Back
  </button>
</div>
<div class="container" *ngIf="data$ | async as data">
  <h2>Create Bhu Info</h2>

  <form [formGroup]="bhuInfoForm" (ngSubmit)="onSubmit()" class="bhu-form">

    <div class="form-row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required />
        <mat-error *ngIf="bhuInfoForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="bhuInfoForm.get('dob')?.hasError('required')">
          DOB is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryId" (selectionChange)="onCountryChange($event)">
          <mat-option *ngFor="let country of data.countries" [value]="country.id">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>State</mat-label>
        <mat-select formControlName="stateId" (selectionChange)="onStateChange($event)">
          <mat-option *ngFor="let stat of data.states" [value]="stat.id">
            {{ stat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>District ID</mat-label>
        <input matInput type="number" formControlName="districtId" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Post Office ID</mat-label>
        <input matInput type="number" formControlName="postOfficeId" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Age</mat-label>
        <input matInput type="number" formControlName="age" />
      </mat-form-field>



      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Profession</mat-label>
        <mat-select formControlName="professionalId">
          <mat-option *ngFor="let prof of data.professionals" [value]="prof.id">
            {{ prof.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Gotra</mat-label>
        <mat-select formControlName="gotraId">
          <mat-option *ngFor="let gotra of data.gotras" [value]="gotra.id">
            {{ gotra.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Land</mat-label>
        <input matInput formControlName="land" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNumber" />
      </mat-form-field>



      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Village</mat-label>
        <input matInput formControlName="village" />
      </mat-form-field>



      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Police Station</mat-label>
        <input matInput formControlName="policeStation" />
      </mat-form-field>



      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Child</mat-label>
        <input matInput type="number" formControlName="child" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Unmarried Child</mat-label>
        <input matInput type="number" formControlName="unmarriedChild" />
      </mat-form-field>
    </div>



    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="bhuInfoForm.invalid">
        Submit
      </button>
    </div>
  </form>
</div>